{% extends "layout.html" %}

{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <h2>¿Centro Pokémon?  </h2>
            <br>
            <p>Un centro Pokémon (Pokémon Center en inglés, es una edificación o lugar donde se cura o sana a los Pokémon heridos, y un lugar donde los entrenadores pueden descansar y reponerse de su viaje Pokémon
                
                <p><center><div id="pkc"><img src="/static/img/cpkm.jpeg" height="192px" width="342px"></center></div>
           </p>
       </article>
        <article>
            <br>
            <p>Las enfermeras están capacitadas para atender rápidamente cualquier herida o mal que hayan sufrido los Pokémon, sean los que sean. Son ayudadas por la tecnología, aunque algunas veces eso no podrá salvar a un Pokémon a punto de morir, dependiendo de su estado.
                <p>En la planta baja se encuentra la enfermera. En casi todos los centros también hay gente, algunos llevan Pokémon fuera de sus Poké Balls, otros no. la planta baja, algunos días de la semana en algunos centros puedes encontrar un entrenador contra el que luchar al lado del mostrador. Se encuentra también la tienda Pokémon, que se ha fusionado con todos los centros Pokémon de las regiones de Teselia, Kalos, Alola y Galar.

                <center><p><font size="4">Nuestro Personal:</font></p><br>
               <div id="joy"> <img src="/static/img/joy.jpeg"></div>
               <p>Enfermera Joy
               <div id="chan"><img src="/static/img/chansey.jpeg"></div>
               <p>Chansey</center>
        </article>
</section>  
</section> 
<aside>
    <h3> Servicios:</h3>
    <p> Contamos también con un centro pokémon, los centros Pokémon sirven como albergues durante la noche para los entrenadores
         Pokémon y como hospital de guardia para los Pokémon. A las 11 de la noche se da
         el toque de queda, se cierran sus puertas, Contamos también tienen servicio de
         restaurante para los entrenadores; administrados por la enfermera Joy.
       
        <br><br>
        Costo de curación: 10 Pokécuartos
       
    </p>
      
</aside>
<img src="/static/img/chik.gif">
    
  
<footer>
    <p>Contacto<br>Tel: 449 387 78-81<br>pkmoncentr@pkm.mx</p>
</footer>
  
</body>
</html>
{% endblock %}