{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <center><h2>JOLTEON </h2></center>
            <br>
            Al igual que las demás Eeveeluciones, Jolteon está basado en un canino.
            Su pelaje le permite captar y almacenar gran cantidad de electricidad
            estática del ambiente, con lo que se eriza y endurece formando púas, que
             puede usar para concentrar y dirigir sus ataques eléctricos contra el rival.
              Sus células generan un nivel bajo de electricidad, que amplificada por la electricidad
               estática de su piel le permite lanzar rayos. Su cuello es de color blanco, el resto
                del cuerpo es de un amarillo intenso, sus ojos son negros y es la única evolución
                de Eevee que carece de una cola visible, la cual se confunde con su pelo.<p>  
            Se trata de un Pokémon muy sensible y de una naturaleza nerviosa, es decir, se entristece,
             asusta o se enfada con mucha facilidad, estos cambios de ánimo le dan energía, esto puede
              hacer que sea difícil congeniar con este Pokémon. Puede acumular los iones negativos de 
              la atmosfera para lanzar rayos de hasta diez mil voltios de potencia. También puede usar
               su pelo puntiagudo convertido en púas afiladas, las cuales puede lanzar en racimos al
                agitar su cuerpo para perforar y hacer trizas a su rival. En sus pulmones posee un órgano
                 especial que es capaz de generar electricidad, esto puede comprobarse al oírlo respirar
                 , pues se puede escuchar un crepitar eléctrico. Hay que tener cuidado cuando su pelo se
                  encuentra erizado ya que es una señal de que va a soltar una descarga y además pueden
                   caer rayos cerca, sus pelos están tan llenos de electricidad que incluso los que caen
                    al suelo tardan un rato en descargarse por completo.<p>

Habitan en ciudades y campos. Algunos los usan para pastorear grupos de Magnemite debido a la electricidad que almacenan y generan.
                <center><p><img src="/static/img/jtn2.png" width="300px"></center>
           </p>
       </article>
     </section>  
     </section> 
       <aside>
        <center><h3> Estadísticas base de un jolteon:</h3>
        <p> Ataque:<br>
            232
            <p>Defensa:<br>	
            182<p>
            Aguante:<br>
            163

           
        </p></center>
    </aside>
</section>  
</section> 
<p>
<img src="/static/img/jtn.png">
<footer>
    <p>Contacto<br>Tel: 449 387 78-81<br>pkmoncentr@pkm.mx</p>
</footer>
{% endblock %}
