{% extends "layout.html" %}

{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <center><h2>MAGIKARP </h2></center>
            <br>
            Magikarp, al igual que su evolución Gyarados, está inspirado en una antigua leyenda china conocida como "Li yu tiao Long men", cinco caracteres que significan literalmente "la carpa salta sobre la Puerta del Dragón". La historia cuenta que había una carpa débil y patética que quería demostrar su valor, así que, siendo muy perseverante y tras mucho sufrimiento y dificultades, nadó contra la corriente y escaló una cascada (la Puerta del Dragón). Los dioses vieron esto y conmovidos por su fuerza de voluntad, decidieron recompensarla convirtiéndola en un espléndido dragón, que voló orgulloso sobre el Río Amarillo.<p>

                Magikarp es prácticamente inútil en combate: solo sirve para salpicar, y se le considera muy débil. Esta conducta llevó a científicos a estudiarlos en profundidad. Con todo, en realidad es un Pokémon muy práctico. Sobrevive en cualquier medio acuático, aunque esté contaminado. A veces es capaz de saltar alto, pero muy rara vez a más de 2 metros. Algunos ejemplares más longevos pueden llegar a saltar montañas con salpicadura, una de las pocas utilidades del movimiento. En cierta región del Mundo Pokémon, se celebran campeonatos donde los entrenadores Pokémon ponen a prueba la altura de salto de los Magikarp. Este Pokémon salta y chapotea sin razón alguna, por lo que es una presa fácil para Pidgeotto y Pidgeot, quienes los atrapan en pleno salto.<p>
                
                En un pasado lejano, era más fuerte que sus descendientes de hoy en día. Puede encontrarse nadando en mares, lagos, ríos y charcos, aunque si la corriente del río es fuerte, se lo llevará por delante ya que los músculos con los que nada son débiles; por esta razón muchos Magikarp van a parar a piscinas naturales. Está estrechamente relacionado con Feebas por su aspecto y los cambios que sufre al evolucionar. Es un Pokémon comestible por los seres humanos, siendo incluso un plato muy elegante, aunque eso depende del Magikarp ya que en algunos casos no resulta más que un saco de escamas y espinas.<p>
                
                A lo largo de la historia, científicos, biólogos y entrenadores en general han realizado una observación profesional de los Magikarp. Aunque se pueden ver en casi cualquier lugar, los centros anuales de reproducción, evolución, desove y nacimiento son puntos clave en el estudio; el más conocido y accesible es la Isla Rind. Estas épocas se producen únicamente varios días al año, y en los lugares se concentran gran cantidad de Magikarp.<p>
                
                Los utensilios que se utilizan en las investigaciones, acostumbran a ser principalmente: una cámara conectada a una máquina que analiza, según los patrones de la imagen, el número de Magikarp, el largo de la aleta dorsal, la estructura ósea, la densidad muscular, el tamaño, el peso y otros tantos factores preprogramados más que servirán para conocer todos los datos posibles. Anteojos prismáticos, que permiten enfocar mejor a los ejemplares y a la vez están preparados para ver en la oscuridad. Varias Poké Balls comunes y especializadas, para tomar ejemplares de muestra que más tarde se liberan. Y finalmente, un cuaderno de dibujo o bitácora que siempre son útiles para realizar apuntes conforme avanza el estudio.<p>
                
                Además, existen ciertas precauciones que se han de tomar en su observación. Acercarse demasiado al sitio en cuestión puede ser arriesgado: los Pokémon pueden alarmarse o en el peor de los casos, se podría caer al agua entre la gran masa de Magikarp que se desplazan. Ya que la investigación se basa en Pokémon acuáticos, todo el material, incluyendo maquinaria, debe estar resguardado del contacto con el agua. De la misma forma, la tinta indeleble es una opción mejor para asegurar la preservación de los escritos. En las fases de evolución, es especialmente peligroso acercarse a los Pokémon, pronto dejarán de ser inofensivos Magikarp para convertirse en los destructivos y poderosos Gyarados.<p>
                
                Una de las medidas universales del estudio de estos Pokémon son las etiquetas de color. Estas se utilizan para determinar la edad de los Magikarp, asignando a cada año un color.
                <p><center><img src="/static/img/mkp.png" width="300px"></center>
           </p>
       </article>
     </section>  
     </section> 
       <aside>
        <center><h3> Estadísticas base de un Magikarp:</h3>
        <p> Ataque:<br>
            29
            <p>Defensa:<br>	
            85<p>
            Aguante:<br>
            85

           
        </p></center>
          
    </aside>
</section>  
</section> 
<img src="/static/img/mkp2.png">
<footer>
    <p>Contacto<br>Tel: 449 387 78-81<br>pkmoncentr@pkm.mx</p>
</footer>
{% endblock %}