{% extends "layout.html" %}

{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <center><h2>VULPIX </h2></center>
            <br>
            Vulpix está basado en un zorro rojo, y un kitsune. Es un Pokémon de tamaño pequeño y de patas cortas. Su suave pelaje es corto excepto en el flequillo y en sus seis colas. Su color de pelo es blanco en el vientre, anaranjado en las colas y el flequillo, oscuro en las patas y marrón en el resto del cuerpo. Sus ojos son grises y rasgados, y poseen una buena y aguda vista.<p>

Al nacer, Vulpix tiene una cola blanca, pero a medida que crece, esta gana color y se va dividiendo desde la punta en seis si recibe cariño por parte de su entrenador. Las seis colas se le rizan de forma majestuosa y su pelaje se va volviendo más suave, lustroso y bello a medida que sus seis colas crecen. Hay que cepillárselas a menudo o, de lo contrario, se le hacen enredos todo el rato. La temperatura de estas colas aumenta de forma radical justo antes de evolucionar. En el interior del cuerpo de Vulpix arde una llama que nunca se extingue. Durante el día, cuando suben las temperaturas, este Pokémon libera llamas por la boca para evitar recalentarse. También es capaz de controlar estas bolas de fuego, estas llamas se asemejan a un fuego fatuo, por lo que algunos las confunden con fantasmas. Al abrazarlo se puede sentir una ligera calidez.<p>

Habita en las praderas, si es atacado por un enemigo más fuerte que él, finge estar herido para confundirlo y huir.
Este contenido proviene de wikidex.net, y debe darse atribución a sus autores, tal como especifica la licencia.
<p>

Habitan en ciudades y campos. Algunos los usan para pastorear grupos de Magnemite debido a la electricidad que almacenan y generan.
                <center><p><img src="/static/img/vpx.png" width="300px"></center>
           </p>
       </article>
     </section>  
     </section> 
       <aside>
        <center><h3> Estadísticas base de un Vulpix:</h3>
        <p> Ataque:<br>
            96
            <p>Defensa:<br>	
            109<p>
            Aguante:<br>
            116

           
        </p></center>
          
    </aside>
</section>  
</section> 
<img src="/static/img/vpx2.png">
<footer>
    <p>Contacto<br>Tel: 449 387 78-81<br>pkmoncentr@pkm.mx</p>
</footer>
{% endblock %}